[
{
    sasl,
    [
        {sasl_error_logger, {file, "log/erlang_log/sasl_error_proxy.log"}}
    ]
},
{
    esort_proxy,
    [
        {remote_addr, "127.0.0.1"},
        {remote_port, 7091},
        {local_port, 7090},
	{network_process_num, 5},%%本地proxy与远程排序服务器的连接数

	%%日志级别,mslog.erl 里有各个级别的描述
	{log_level, 5},
	
	%%通信协议，每个方法内必须要包含的key
	%%启动并初始化排序服务器
	{init,{"Sortkey","PrimaryKey","SortPriority","TimeOut"}},
	%%将玩家信息更新或者插入到排序列表
	{update,{"Sortkey","Val"}},
        %%获得所有的排序列表
	{getAllSortList,{"Sortkey"}},
	%%获得我的排行
	{getMyRank,{"PrimaryKey","Sortkey"}},
	%%获得排行榜内 从 Start 到 End 的有序列表
	{getTop,{"Sortkey","Start","End"} },
	%%更新或者插入某个玩家的数据，同时返回自己的排行和top列表
	{updateAndGetRank,{"Sortkey","Val","Start","End"}},
	%%获得某个玩家的信息和排名
	{getMyInfo,{"PrimaryKey","Sortkey"}},
	%%获得当前服务器内排序列表的总元素个数
	{getAllCount,{"Sortkey"}},
	%%删除某个玩家的数据
	{delete,{"PrimaryKey","Sortkey"}},
	%%删除所有玩家的数据
	{clearAll,{"Sortkey"}},
	%%停止远程排序服务器
	{destroy ,{"Sortkey"}}
    ]    
    
}
].
